.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.logo {
  height: 35vh;
  position: absolute;
  top: 1vh;
  left: 5vh;
  background: radial-gradient(circle, dodgerblue, transparent 50%)
}

.header h1 {
  font-family: "futur";
  font-size: 5vh;
  margin: 2vh;
  text-align: center;
  font-weight: normal;
  max-width: 80%;
  transform: perspective(20vh) rotateX(-5deg);
  text-shadow: 0 -1vh 2vh dodgerblue;
}

.header h1 strong {
  font-size: 5.5vh
}

.container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  overflow: auto;
}

.container h2 {
  font-size: 3.5vh;
  font-family: "futur";
  margin-bottom: 1vh;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.articlesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  max-width: 70vw;
}

.cart {
  position: absolute;
  right: 1vh;
  top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3vh;
  border: solid #fff 0.3vh;
  max-height: 95vh;
  overflow: auto;
  background-color: #00000099;
}

.cart h2 {
  margin: 0;
  margin-bottom: 1.5vh;
  align-self: center;
  font-size: 3.3vh;
}

.bill {
  font-size: 3vh;
  font-weight: bold;
}

.cartContent {
  padding-top: 1vh;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1vh;
}

.cartItemName {
  font-size: 2vh;
    width: 20vh;
}

.cartItemPrice {
  font-size: 2.2vh;
  width: 8vh;
}

.removeBtn {
  font-size: 3vh;
  height: 5vh;
  width: 5vh;
  color: orangered;
  border: solid 0.3vh orangered;
  border-radius: 50%;
  margin-left: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.removeBtn:hover {
  color: yellow;
  border-color: yellow;
}

.navigation {
  position: absolute;
  bottom: 5vh;
  left: 5vh;
}

.locationBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  color: #fff;
}

.locationBtn span {
  font-size: 2.5vh;
  color: #fff;
  max-width: 10vh;
  text-align: center;
  margin-top: 1vh;
}

.locationBtn:hover {
  transform: scale(1.2);
}

/* affichage smartphone */
@media only all and (max-width: 641px) {


  
}